header{
    min-width:360px;
    font-size:18px;
    color:white;
    width:100%;
    height:100px;
    padding:10px 54px 0 58px ;
    background-color: #000000;
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header img{
    margin-top: 7px;
    width:154px;
}
nav{
    display:flex;
    justify-content:space-between;
    width:350px;
    height:100%;
}
nav a{
    display:flex;
    align-items: center;
    justify-content: center;
    height:100%;
    box-sizing: border-box;
    border-bottom:6px solid transparent;
    transition:.3s;
    text-decoration: none;
    color:#fff;
}
nav a:hover{
    cursor:pointer;
    color:#7f7f7f;
    border-bottom:6px solid white;
}
#btnMobile{
    display: none;
}
@media(max-width:800px){
    nav{
        display: block;
        transition:.3s;
        position:absolute;
        visibility: hidden;
        z-index:-1;
        background-color: #ebe4e4;
        width:100%;
        height:0;
        right:0;
        top:100px;
        overflow-y: hidden;
        
    }
    #menu a{
        border-bottom:2px solid rgba(0,0,0,.07);
    }
    .active{
        z-index:4;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        height:100vh;
        visibility:visible;
        overflow-y:auto;

    }
    .active a{
        color:black;
        width:100%;
        height:21.1%;
    }
    .active a:hover{
        color:white;
        background-color: rgba(0, 0, 0, 0.445);
    }
    #btnMobile {
        cursor: pointer;
        position:relative;
        display:block;
        width:35px;
        height:30px;
        background-color:transparent;
        border:none;
        outline: none;
    }
    #hamburguer{
        position:absolute;
        top:0;
        display: block;
        border-radius:15px;
        border-top:4px solid white;
        width:100%;
        height:1px;
    }
    #hamburguer::before,#hamburguer::after{
        content:'';
        display: block;
        border-radius:15px;
        border-top:4px solid white;
        width:100%;
        height:1px;
        margin-top:10px;
        transition: .3s;
        position:relative;
    } 
    .open-close #hamburguer{
        border-top-color:transparent;
    }
    .open-close #hamburguer::after{
        transform: rotate(-135deg);
        top:-15px;
    }
    .open-close #hamburguer::before{
        transform: rotate(135deg);
    }

}
