
section{
    padding:0 54px 0 54px;
    width:100%;
    height:82.7vh;
    background-color:#000000;
    color:white;
    display: grid;
    justify-content:space-between;
    grid-template:0.1fr / 1.4fr 2.5fr;
    grid-template-areas:"a1 a2"
                        "a3 a2"
}

.titleAndButtonContainer{
    text-align: right;
    margin-top:45px;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content:center;
    width:300px;
    height:65%;
    grid-area:a1;
    gap:30px;
}
.titleContainer{
    height:250px;
    padding-left:2px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align:left; 
}

.titleContainer span{
    letter-spacing:1px;
    line-height:40px;
    font-size:38.4px;
    font-weight:600;
}

.buttonContainer a{
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    font-weight: bold;
    color:#000000;
    text-decoration:none;
    background-color:#fff;
    width:150px;
    height:40px;
    gap:10px;
    font-size: 13.5px;
    transition:.3s;
}
.buttonContainer a:hover{
    background-color: #7f7f7f;
}
.bigImageContainer{
    box-sizing: border-box;
    width:100%;
    height:95%;
    grid-area:a2;
}

.thumbnailsContainer{
    margin-right:30px;
    width:360px;
    height:51px;
    display: flex;
    align-items: top;
    justify-content: space-between;
    color:white;
    grid-area:a3;
    position:relative;
    top:-30px;
}

@media (max-width:1008px){

    section{
        min-width:360px;
        height:100%;/*477px;*/
        display:flex;
        align-items: left;
        justify-content: space-between;
        flex-direction: column;
        gap:50px;
    }
    .buttonContainer a{
        width:175px;
        height:50px;
    }
    .titleAndButtonContainer{
        width:90%;
        height:200px;
    }
    .thumbnailsContainer{
        width:100%;
        align-items: center;
    }
    @media (max-width:480px){
        .thumbnailsContainer{
            gap:8px;
        }
    }
    
}
